/* general styles */
html,
body {
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  top: 0;
  left: 0;
  font-family: "Roboto Slab";
}

/* body::before {
  display: block;
  content: "";
  height: 300px;
} */

a {
  text-decoration: none;
}

/* nav bar styles */

a,
.navbar-brand {
  font-family: Anton;
  color: #fff;
  font-size: 1.5rem;
}

.navbar-nav .nav-item a {
  color: #fff;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #333;
}

.navbar-dark {
  background: rgba(0, 0, 0, 0.6);
}

.navbar-dark .navbar-toggler-icon {
  /* .navbar-light */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
  border-bottom: #e9e7df !important;
}

/* .navbar-alpha {
  background-color: rgba(0, 0, 0, 0.4);
} */

/* Top hero banner */

.hero {
  background: url("../images/Counter-Orig-Photo.jpg") no-repeat center
    center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content img {
  width: 18rem;
  z-index: 10;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Icons Bar */

#title {
  font-family: Anton;
  color: #333;
  font-size: 3.5rem;
}

.upper-phone-font {
  font-family: Anton;
  color: #333;
  font-size: 2rem;
}

#icons-bar {
  background-color: #e9e7df;
}

#icons-bar div img {
  width: 150px;
}

#icons-bar .container {
  max-width: 900px;
}

#icons-bar .container .icon-box span {
  font-family: "Roboto Slab";
  font-size: 1.5rem;
}

.icon-text {
  color: #333 !important;
  text-align: end;
}

/* Tear paper

*/
.tear-down {
  width: 100vw;
}

/* Espresso MENU STYLES */

.table-espresso {
  width: 25rem;
  color: #5e5e5e;
  /* border: solid 2px #000; */
}

.table-espresso tr {
  width: 100%;
}

.table-espresso tr td {
  font-family: "Roboto Slab", arial;
  font-weight: 400;
  font-size: 1.25rem;
  vertical-align: middle;
}

.table-espresso tr td:nth-child(3),
.table-espresso tr td:nth-child(6) {
  font-family: "Roboto Slab", arial;
  font-size: 1.25rem;
  font-weight: 300;
}

.table-espresso tr td img {
  width: 5rem;
  height: 5rem;
}

/* Coffee Menu Styles  */

.coffee-title {
  font-size: 1.5rem !important;
}

/* BREAKFAST SECTION STYLES */

.breakfast-bg-color {
  background-color: #e9e7de !important;
}

/* Signature Sandwiches */

.table-signature-sandwiches {
  color: #5e5e5e;
  font-family: "Roboto Slab", arial;
  font-size: 1.25rem;
  font-weight: 300;
  width: 450px;
}

.sandwich-name {
  font-weight: 500;
}

.sandwich-description {
  font-size: 0.85rem;
}

.title {
  font-family: Anton;
  color: #333;
  font-size: 2.3rem;
}

/* DELI SANDWICHES */

.deli-sandwich-bg-color {
  background-color: #fff;
}

/* Create Your Own */

.table-create-own {
  color: #5e5e5e;
  font-family: "Roboto Slab", arial;
  font-size: 1.25rem;
  font-weight: 300;
  width: 100%;
}

.inner-menu-table {
  width: 100%;
  /* border: 1px solid #000; */
}

.inner-menu-table tr td {
  width: 170px;
  /* border: 1px solid #000; */
}

.create-item {
  font-size: 0.9rem;
  font-weight: 100;
}

.create-title {
  font-weight: 500;
}

hr {
  height: 5px;
}

/* //////// About Us /////// */

.about-us-bg-color {
  background-color: #e9e7df;
}

.card-title {
  font-family: Anton;
  color: #333;
  font-size: 2rem;
  font-weight: 300;
}

.card-text-font {
  font-family: "Roboto Slab" !important;
  font-size: 1rem;
}

.card-width-outer {
  width: 18rem;
}
.card-width-center {
  width: 25rem;
}

/* ///// Gallery  ///// */

.gallery img {
  max-width: 100%;
  background-color: #fff;
  padding: 10px 10px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.gallery {
  /* background-color: red; */
  padding: 80px 0;
}

#gallery-modal .modal-img {
  width: 100%;
}
